<style>
.container-fluid a{
  text-decoration:none;
  color: grey;
}
</style>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
    <%= link_to "Blog", root_path, class: "navbar-brand" %>
    </div>
   

    <ul class="nav navbar-nav navbar-right">
    <% if current_model.nil? %>
    <li>
    <%= link_to model_session_path do %>
      <i class="glyphicon glyphicon-user"></i> Login
      <%end%>
      </li>
      <% else %> 
      <li>
      <%= link_to destroy_model_session_path, method: :delete do %>
      <i class="glyphicon glyphicon-log-in"></i> Logout
  <%end%>
      </li>
       <% end %>
    </ul>
  </div>
</nav>

